#login{
  background: url("../images/master_flare.png") repeat-x scroll 0 0 #105C9A;
  color: #FFFFFF;
}         

#wrapper { width:420px; margin: 0px auto; margin-top:200px; text-align: center;}   
#footer {margin-top:130px; font-size:90%; color:#BDBDBD;}
#flash_message{color:red;}