.container-fluid { margin-top: 90px;}
.pagination {margin-top:10px;border-top:1px dashed #BDBDBD;font-size: 90%; font-weight:bold;  padding-top:10px;}
.pagination a{margin-right:4px; padding:6px; border:1px solid #BDBDBD; background:#1D69EF;color:#FFF;text-decoration: none;}
.pagination em{padding:6px; border:1px solid #1D69EF; color:#1D69EF;}

#wrapper {padding: 3px;}
#header {height:50px; background: #86CAEF; color:#FFF; padding:10px; border-bottom:2px solid #3FBBFF;}
#right_btn { float: right;}
#sidebar { margin-top:5px; width:170px; float: left; padding:10px; border-right: 1px solid #BDBDBD; margin-right:10px;}
#nav {border:1px solid #3B84BF; border-top:3px solid #3B84BF; background:#95C7EF;}
#nav li{ border-bottom: 1px dashed #BDBDBD; }
#nav a{ display:block; padding:5px; text-decoration: none;}
.current_tab { background:#4DA1CF; font-weight: bold; border-left: 10px solid #3B84BF; color: #FFF;}
#nav .sub_menu { border-left: 10px solid #3B84BF; background: #FFF; font-size:90%; }
#nav .sub_menu_a{ padding:3px;}


footer { margin-top:10px; border-top:1px solid #BDBDBD; padding:10px; background: #BDBDBD;}


.box { margin-top:8px; padding: 10px; border:1px solid #B5C3CF;}
.box p {margin-bottom:5px; padding:2px; }
.box input.text{ width:300px; }
.box textarea.textarea{ height:80px; width:300px;}