html, body{
  height:100%;
  overflow:hidden;
  background: url("../images/master_flare.png") repeat-x 0 0 #105C9A;
}
h1,h2,h3 { color: #FFF; }
#wrapper {
  margin: 0px auto; text-align: center;
  padding-top: 200px;
  color: #FFFFFF;
}


#footer {margin-top:130px; font-size:90%; color:#BDBDBD;}

#flash_message{
  color:red;
}