#recommend_products ul{
  list-style-type: none;
  margin: 0;
}

#product_search #keywords {
  width: 150px;
}
#product_categories {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#product_categories .categories dl{
  margin-bottom: 0;
}

#page_items {
  margin-right: 50px;
  margin-bottom: 20px;
}

#page_items ul {
  list-style-type: none;
  margin: 0;
}

#page_items li {
  margin-bottom: 5px;
}

#page_items li a{
  display: block;
  padding: 10px;
  border-bottom: 1px solid #BDBDBD;
}