/* Reset css */
ul, li { margin:0; padding:0; list-style-position: inside; list-style-type: none; }
p {margin:0; padding:0; }
h1, h2, h3, h4, h5, h6 {margin:0; padding:0; font-weight: normal; }      

a img { border: 0 none; }
a {color: #5FA8FF;}

body{
  background-color: #ddd;
  color: #666666;  
  line-height: 23px; 
  margin:0;padding: 0;
}     

#wrapper {
  margin: 0 auto;
  width: 950px;
}  

#content {
  background:#FFF;      
  padding-top: 10px;
  
  margin: 0 auto;
  width: 950px;
}

#sidebar {
  width: 240px;
  float:left ;
}

#main{width:700;margin-left:250px;}  
#main .page_title {margin-bottom:10px; font-size:18px; padding-bottom: 8px;border-bottom:1px solid #AFD4FF; color:#5FA8FF;}
  
.clear {height:1px; clear:both;}


#header{ 
  background: url(../images/header_bg.gif);
  height: 108px;
  margin-bottom:1px;
  
  margin: 0 auto;
  width: 950px;

  }
  
#nav {
  height: 35px;  
  background-color: #5FA8FF;
  z-index: 333;     
  
  margin: 0 auto;
  width: 950px;
}           

#nav .menu {
  position: relative;
  z-index: 300;
}   
#nav .menu li {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  background-color: #5FA8FF;
  border-right: 1px dotted #333333;
  color: #CCCCCC;
  float: left;
  padding: 0;
  position: relative;
  width: auto;
  z-index: 1; 
} 

#nav .menu li a {
  color: #FFF !important;
  cursor: pointer;
  display: block;
  padding: 0 20px;   
  font-weight: bold;
  text-decoration: none;
}
                                
#footer {
  background-color: #5FA8FF;  
  color: #FFF;    
  margin: 0 auto;
  width: 950px;
}
#footer .inner{
  margin-top:10px; 
  padding-top: 10px; 
  line-height: 30px;
  text-align: center;
  border-top: 2px solid #5FA8FF;  
  width: 950px;      
  font-size:13px;
}       
  





/* index page */
#index_introduce {
  
}  

#index_introduce h3 { border-bottom: 1px dashed #BDBDBD; margin-bottom:10px;}
#index_introduce p {text-indent: 26px;   margin-bottom: 20px;}  

/* product page */
#product_categories h3{
  border-bottom: 1px dashed #BDBDBD;  
}                                   

#product_categories .categories {
  
}

#product_categories .categories li {
  margin-bottom:5px;
  border-bottom:1px dashed #BDBDBD;  
} 
.sub_category {
  margin-left:10px;
}      
#index_latest_news h3{ border-bottom: 1px dashed #BDBDBD; margin-bottom:10px; }
li.news {padding-bottom:6px;}
li.news span{ display:block; float:right;}  

#index_latest_products h3{ border-bottom: 1px dashed #BDBDBD; margin-bottom:10px; }
li.products {margin-bottom:6px;}
li.products span{ display:block; float:right;}  


/* pages page */
#sidebar #page_items {margin-left: 10px; width:180px; margin-right:20px; border-right: 1px solid #5FA8FF;}
#sidebar #page_items li {margin-bottom:10px; text-align: center;}
#sidebar #page_items a{ display:block; padding:5px; text-decoration:none;}
